jupyter==1.1.1
spylon-kernel==0.4.1
pyiceberg[pyarrow,duckdb,pandas]==0.10.0
jupysql==0.11.1
matplotlib==3.10.8
scipy==1.15.3
duckdb-engine==0.17.0
grpcio==1.76.0
pycolor==1.2.1
papermill==2.6.0
s3fs==2026.1.0
protobuf
grpcio-status
ipynbname